body {
  font-size: 100%;
  background: #dcdcdd;
  color: white;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #7c7c7c;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

a:hover {
    color: #272727;
    text-decoration: none;
}

.titulo {
  font-family: Agency FB;
  font-size: 360%;
  font-weight: bold;
  text-transform: uppercase;
  color: #2664b6;
  margin: 100px auto 0px;
  text-align: center;
  text-shadow: 1px 2px 4px rgb(155, 155, 155);
  animation-duration: 0.8s;
  animation-name: slidein;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 14px;
  background-color: #eeeeee;
  list-style: none;
  margin: 0px auto;
  text-align: center;
  border: 1px solid #fff;
  text-align: center;
  color: #6d6d6d;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  width: 98%;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

@keyframes slidein {
  from {
    margin-left: 10%;
    width: 65%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.header {
    width: 22%;
    margin: 100px auto 0px;
    color: rgb(44, 44, 44);
    background: #2664b6;
    text-align: center;
    border-bottom: none;
    padding: 2px 22px 10px 20px;
}

.header h2 {
    font-family: Agency FB;
    font-size: 132%;
    text-transform: uppercase;
}

form {
    width: 22%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #87a6cf;
    background: white;
    border-radius: 0px 0px 10px 10px;
    font-family: sans-serif;
    -moz-box-shadow: 3px 2px 1px #000000;
    -webkit-box-shadow: 3px 2px 1px #000000;
    box-shadow: 5px 5px 25px #a1a1a1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 1.3s ease-in-out;
}

form p {
    margin: 6px;
    text-align: center;
    float: center;
    display: block;
    margin: 5px auto;
    font-size: 13px;
    color: #555555;
    font-family: sans-serif;
}

.input-group {
    margin: 2px 2px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 2px auto;
    width: 72%;
    font-size: 15px;
    color: #555555;
    font-family: sans-serif;
}

.input-group::after {
  content: "\f007";
  font-family: FontAwesome;
  position: absolute;
  right: 15px;
  top: 17px;
  z-index: 2;
  width: 20px;
  color: hsla(0, 0, 0, 0.2);
  text-align: center;
}

.input-group.email::after {
  content: "\f0e0";
}

.input-group.password::after {
  content: "\f023";
}

.input-group input {
    height: 23px;
    width: 69%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #71849c;
    display: block;
    float: center;
    margin: 5px auto;
}

.input-group input:onclick {
    transition: 0.5s;
}

.btn {
    padding: 10px;
    font-size: 14px;
    color: white;
    background: #2664b6;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 40%;
    display: block;
    float: center;
    margin: 25px auto;
    transition: background 0.2s;
    animation: go-back 0.9s infinite alternate;
}

@keyframes go-back {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0);
    }
}

.btn:hover {
    background: #123869;
    transition: 0.4s;
}

.btn:onclick {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(24, 40, 70);
  border: 2px solid #2664b6;
}

.error {
    padding: 6px;
    margin-top: 1px;
    margin-bottom: 12px;
    border: 1px solid #a94442;
    color: #a94422;
    background-color: #f2dede;
    border-radius: 5px;
    text-align: center;
    float: center;
    display: block;
}

.content {
  width: 25%;
  margin: 20px auto 0px;
  color: white;
  background: #555555;
  text-align: center;
  float: center;
  display: block;
}

div.well {
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background-image: url("http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO");
}
